<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<form th:method="PATCH" th:action = "@{/book/{id}(id=${book.getBook_id()})}" th:object="${book}">
    <label for="bookName">Name</label>
    <input type="text" th:field="*{bookName}" id="bookName"/>
    <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Name Error</div>
    <br>


    <label for="yearOfIssue">yearOfIssue</label>
    <input type="text" th:field="*{yearOfIssue}" id="yearOfIssue"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfIssue')}" th:errors="*{yearOfIssue}">yearOfIssue Error</div>
    <br>



    <input type="submit" value="UPDATE"/>
</form>
</body>
</html>