<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Show Person</title>
</head>

<body>
Name: <a th:text="${person.getName()}">VALUE</a>
<br>
Surname: <a th:text="${person.getSurname()}">VALUE</a>
<br>
Patronymic: <a th:text="${person.getPatronymic()}">VALUE</a>
<br>
date of birth: <a th:text="${person.getDateOfBirth()}">VALUE</a>
<br>
<br>
<div th:if="${isEmpty}"
     th:each="book : ${bookList}">
    <a th:text="|${book.getBookName()}, ${book.getYearOfIssue()}|">Book</a>
</div>
<div th:unless="${isEmpty}">
    <p>У человека нет книг</p>
</div>

<br>

<a th:href="@{/person/{id}/edit(id=${person.getPerson_id()})}">Edit</a>
<form th:method="DELETE" th:action="@{/person/{id}(id=${person.getPerson_id()})}">
    <input type="submit" value="DELETE"/>
</form>
</body>
</html>